$background-main: #000000;
$background-secondary: #E50914;
$background-tertiary: #303030;

$font-color-main: #737373;
$font-color-secondary: #FFFFFF;

$color-secondary: #FFFFFF;
$color-tertiary: #222222;
