$background-main: #000000;
$background-secondary: #E50914;
$background-tertiary: #303030;

$font-color-main: #737373;
$font-color-secondary: #FFFFFF;

$color-secondary: #FFFFFF;
$color-tertiary: #222222;

$color-primary: #0f7300;
$color-secondary: #ffffff;
$color-tertiary: #000000;
$color-background-primary: #f5f7fb;
$color-background-secondary: #ffffff;
$color-border-primary:#0028641f;
